* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif
}

/* header loghi e navbar */
header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-upper-objects {
    display: flex;
}

.left-upper-objects>* {
    margin-left: 25px;
}

header>div>img {
    height: 25px;
}

.right-upper-objects {
    display: flex;
}

.right-upper-objects>* {
    margin-right: 25px;
}

button {
    background-color: #0161FF;
    border: none;
    color: white;
    padding: 10px;
}



/* section with big title and introduction  */

.oneplace {
    max-width: 100%;
    padding-top: 70px;
    padding-left: 270px;
    padding-right: 270px;
    background-color: #B4D0E7;
    height: 515px;
}

.underh1 {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

h1 {
    font-size: 55px;
    font-weight: 800;
}


#instruments {
    width: 300px;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 35px;
}

#anymoment {
    font-size: 13px;
    margin-top: 35px;
}

#proposal {
    height: 380px;
}



/* body for main section and benefits sections */

.center-section {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 100px;
}


/* main section with plans */

#planboxes :not(h3) {
    font-size: 11px;
}

#planchoice {
    display: flex;
    justify-content: space-between;
}

.radio {
    margin-top: 40px;
}

label {
    font-size: 12px;
    margin-right: 40px;
}

.planbox {
    width: 240px;
    height: 620px;
    border: solid lightgray 1px;
    padding: 25px;
}

.planbox>* {
    margin-bottom: 20px;
}

.forwho {
    border: solid lightgray 1px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.hrcards {
    background-color: lightgray;
    height: 1px;
    border: none;
    width: 40px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

/* enterprise box */

#enterprisebox {
    border: solid lightgray 1px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}


#enterpriseboxbottom {
    border: solid lightgray 1px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#twoguys {
    width: 500px;
}

#section-right-text {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

#container-partner {
    padding-right: 70px;
    margin-top: 35px;
    height: 150px;
    width: 250px;
}

#p-partner {
    line-height: 15px;
    margin-top: 12px;
}


/* section with dropbox benefits */

.upper-cards-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.benefitcard {
    width: 250px;
}

.benefitcard>div>img {
    width: 250px;
}

#teamsnumber {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 600px;
}

#teamsnumber>p {
    margin-top: 50px;
}


/* section with companies */


.partner-blocks {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.square {
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square img {
    width: 55%;
    color: white;
}

.block-container {
    display: flex;
    width: 30vw;
}

.feedback-container {
    height: 420px;
    width: 543px;
    background-color: #F5F5F5;
    padding: 40px;
}

.feedback-container>img {
    height: 70px;
    margin-bottom: 30px;
}

.feedback-container>p {
    margin-bottom: 50px;
}

.designit {
    box-sizing: border-box;
    background-color: #A2D39B;
    border: 10px solid hsl(111deg 39% 86%);

}

.asu {
    background-color: hsl(336deg 85% 21%);
}

.florida {
    background-color: hsl(197deg 100% 40%);
}

.topps {
    background-color: hsl(0deg 100% 55%);
}

.bicycle {
    background-color: hsl(351deg 100% 42%);
}

.hearts {
    background-color: hsl(207deg 52% 81%);
}

.planet {
    background-color: hsl(228deg 82% 28%);
}

.clearchannel {
    background-color: hsl(49deg 100% 59%);
}

#hrdesignit {
    background-color: lightgray;
    height: 1px;
    border: none;
    width: 100px;
    margin-bottom: 30px;
}


/* blue container */

#bluecontainer {
    background-color: hsl(207deg 52% 81%);
}

#dropboxbusiness {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    height: 280px;
    color: hsl(336deg 85% 21%);
    align-items: center;
    margin-bottom: 70px;
}

#takebusiness {
    width: 450px;
}

#trybutton {
    color: black;
    background-color: white;
}


/* FAQ section */

#faqsection {
    max-width: 800px;
    margin: auto;
    height: 400px;
}

#faqbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#faqbox>div>* {
    margin-top: 30px;
}

.hrfaqsection {
    background-color: lightgray;
    height: 1px;
    border: none;
}